$black: #232323;
$background: #f8f8f7;

$green:rgba(19,191,17,1);
$blue:#1fc1c8;

$container-width: 90%;

$global-spacing: 2vw;
$items-spacing: 0.5vw;
$wrappers-padding: 1vw;
$buttons-padding: 5px 15px;

$radius: 10px;
$button-radius: 50px;

$m-shadow: 0 0 5px rgba(0,0,0,0.5);

$m-animation: 0.50s;
$l-animation: 0.75s;

$s-factor: 10;
$m-factor: 5;