@import 'variables';
@import 'libs/normalize';

body {
  background-color: $background;
	padding: 50px 0;
	animation: slow-view 1.5s ease-in-out;

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

*,*:before,*:after {
  transition: $m-animation ease-in-out;
}

.btn {
	font-size: 1rem;
	border: none;
	background: none;
	cursor: pointer;
}

.default-btn {
	padding: $buttons-padding;
	
	border: 2px solid $green;
	border-radius: $button-radius;
	color: $green;

	&:hover {
		border: 2px solid $green;
		background-color: $green;
		color: #fff;
	}
}

.container {
	width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: $radius;
	max-width: 1400px;
	
  @media (max-width: 768px) {
    width: calc(100% - 40px);
	}
}

.users-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $wrappers-padding;

	@media (max-width: 800px) {
		padding: $wrappers-padding * $m-factor;
	}
	@media (max-width: 400px) {
		padding: $wrappers-padding * $s-factor;
	}
}

.users{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: $global-spacing;
	justify-items: center; 
	grid-row-end: 1fr;

	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $global-spacing * $m-factor;
	}
	@media (max-width: 400px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: $global-spacing * $m-factor;
	}

		&__item, .plus{
			width: 128px;
			height: 128px;
			border-radius: 10px;
		}
		&__error{
			text-align: center;
			font-size: 2rem;
		}
}

.user{
	position: relative;

	box-shadow: $m-shadow;
	transition: $l-animation ease-in-out;
	animation: spring $l-animation ease-in-out;

	&__image{
		border: 2px solid $black;
		border-radius: 10px;
	}
	&__title{
		position: absolute;
		bottom: 0px;
		text-align: center;
		width: 100%;
		background-color: $black;
		color: #fff;
		border-radius: 0 0 $radius $radius;
	}
}

@keyframes spring {
	0%{
		transform: translate(0, -100px);
		z-index: 100001;
	}
}

.plus{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: $global-spacing;
	border-radius: $radius;

	box-shadow: $m-shadow;
	animation: spring $l-animation ease-in-out;

	@media (max-width: 800px) {
		margin: $global-spacing * $m-factor;
	}
	@media (max-width: 400px) {
		margin: $global-spacing * $m-factor;
	}

	&:hover{
		background-color: lighten($color: $green, $amount: 30);
	}
	
	&__icon{
		font-size: 3em;
	}
}

.pagination{
	
	&__list{
		list-style-type: none;
	}
	&__item{
		display: inline;
		margin: $items-spacing;

		cursor: pointer;
	}
}

.modal{
	position: fixed;
	top: 0;
  right: 0;
  bottom: 0;
	left: 0;
	
	background: rgba(0,0,0,0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
  z-index: 1000;
}

.icon{
	cursor: pointer;
}

.card{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 1001;
	align-items: center;

	display: flex;
	flex-direction: column;

	padding: $wrappers-padding;

	min-width: 250px;
	min-height: 350px;
	

	background-color: #fff;
	border: 4px solid $black;
	border-radius: $radius;

	animation: slow-view $m-animation;
	
		&__form{
			display: flex;
			flex-direction: column;
			margin-top: $items-spacing;
		}

		&__icon{
			position: absolute;
			top: 0;
			right: 5px;
		}
		
		&__del-btn{
			position: absolute;
			bottom: 0;
			left: 0;
		}
		
		&__save-btn{
			position: absolute;
			bottom: 0;
			right: 0;
		}
}

@keyframes slow-view {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.panel{
	position: relative;
	width: 100%;

	&__btn{
		position: absolute;
		top: 20px;
		right: 40px;
		animation: slow-view $m-animation;

		@media (max-width: 800px) {
			top: -10px;
			right: -10px;
		}
	}
}

.checkbox-label {
  display:block;
  background:#f3f3f3;
  height:5vw;
	width:15vw;
	max-width: 50px;
	max-height: 25px;
  border-radius:50px;
  margin:50px auto;
  position:relative;
  box-shadow:0 0 0 2px #dddddd;
  .on {
    display:block;
    position:absolute;
    z-index:0;
    left:-100px;
    opacity:1;
    min-width:300px;
    line-height:50px;
    opacity:0;
    color:$green;
  }
  .off {
    display:block;
    position:absolute;
    z-index:0;
    right:100px;
    text-align:right;
    opacity:1;
    min-width:300px;
    line-height:50px;
		opacity:1;
		
		@media (max-width: 800px) {
			opacity: 0;
		}
    color:#bbbbbb;
	}
	
  &:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:0;
		border-radius:50px;
		height: 5vw;
		width: 5.5vw;
    max-height:25px;
    max-width: 25px;
    background:white;
    box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
  }
}

.checkbox {
  position:absolute;
  left:-5000px;
  &:checked {
    + .checkbox-label {
      background:$green;
      box-shadow:0 0 0 2px $green;
      .on {
				left:0px;
				transform: translate(-50%, 0);
				opacity:1;

				@media (max-width: 800px) {
					opacity: 0;
				}
      }
      .off {
        right:0px;
        opacity:0;
      }
      &:before {
        left:30px;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px $green;
      }
    }
  }
}

.checkbox.blue {
  position:absolute;
  left:-5000px;
  + .checkbox-label {
    .on {
      color:$blue;
    }
  }
  &:checked {
    + .checkbox-label {
      background:$blue;
      box-shadow:0 0 0 2px $blue;
      .on {
        left:100px;
        opacity:1;
      }
      .off {
        right:0px;
        opacity:0;
      }
      &:before {
        left:30px;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px $blue;
      }
    }
  }
}